<script>
/**
var pagesize = $(document).height();
setInterval(function() {
  var pos = (100 / pagesize * $(document).scrollTop())/100;
  console.log(pos);
  $("#menu").css("background","rgba(53, 212, 0, " + pos + ")");
}, 1000);
**/
</script>

<hr style="width: 100%; background-color: #aaaaaa; border: 0; height: 1px;">
<style>
#footer-div {
  text-align: center;
}

.footer {
    font-size: 8pt;
}
</style>
<div id="footer-div">
  <span class="footer">Author: <a href="mailto:maco@blava.net">Marcel Hecko</a> (2014)</span>
</div>
</body>
</html>
