<% include header %>

<div id="offsetDiv">
  <div>
    <span id="last_value" style="font-size: 40pt;">loading last value...</span><br>
    <span id="last_time">loading last time...</span>
  </div>
  <div id="test1" class='with-3d-shadow with-transitions'>
    <svg></svg>
  </div>
</div>

<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.14-beta/nv.d3.js"></script>
<script>

var mydata = tempData();
console.log(mydata);
var chart;

nv.addGraph(function() {
  chart = nv.models.scatterChart()
                .showDistX(true)
                .showDistY(true)
                .useVoronoi(true)
                .color(d3.scale.category10().range())
                .transitionDuration(300);

  chart.xAxis.tickFormat(function(d){ return d3.time.format('%x') (new Date(d));});
  chart.yAxis.tickFormat(d3.format('.02f'));
  chart.tooltipContent(function(key) {
      return '<h5>' + key + '</h5>';
  });

  d3.select('#test1 svg')
    .datum(mydata)
    .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { ('New State:', JSON.stringify(e)); });

  return chart;
});

function redraw() {
  d3.select('#test1 svg')
   .datum(mydata)
   .call(chart);
};

setInterval(function() {
  mydata = tempData();
  redraw();
},50000);

function tempData() {
  var json = (function () {
    var json = null;
    $.ajax({
          'async': false,
          'global': false,
          'url': "/scatter/ttoken/temp",
          'dataType': "json",
          'success': function (data) {
              json = data;
          }
    });
    $('#last_value').html(json[0]['last_value'] + "&deg;C");
    $('#last_time').html(json[0]['last_time']);
    return json;
  })();
  return json;
}

</script>

<script>
/*
$("#menu").hover(function() {
  $(this).css("background","rgba(53, 212, 0, 0.9)");
},               function() {
  $(this).css("background","rgba(53, 212, 0, 0.3)");
});
*/
var pagesize = $(document).height();
setInterval(function() {
  var pos = (100 / pagesize * $(document).scrollTop())/100;
  console.log(pos);
  $("#menu").css("background","rgba(53, 212, 0, " + pos + ")");
}, 1000);
</script>

<% include footer %>
