body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div .last_div {
  margin: 0px;
  padding: 5px;
  width: 220px;
  text-align: center;
  display:inline-block;
}

.last_value {
  color: #eeeeee;
  font-size: 30pt;
}
